/* Basic style */
:root {
  --primary: #fff;
  --secondary: #050840;
  --highlight-primary: #7ce7c9;
  --highlight-secondary: #9d7beb;
  --radius: 0.5rem;
  --pill: 2rem;
  --line: 0.1rem;
}

* {
  box-sizing: border-box;
}

body {
  margin: 2rem;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  background: var(--secondary);
}

section {
  max-width: 90vw;
}

a {
  display: inline-block;
  margin: 0.2em;
  padding: 0.4em 0.8em;
  background: var(--secondary);
  color: var(--highlight-primary);
  border: var(--line) solid var(--highlight-primary);
  border-radius: var(--pill);
  font-weight: normal;
  text-decoration: none;
}

a:hover {
  color: var(--primary);
  border-color: var(--primary);
}

/* UI Event Classes */

/* Jump animation on the interaction link */
a:nth-of-type(12) {
  position: relative;
  background: var(--highlight-secondary);
  color: var(--secondary);
  border-color: var(--secondary);
}

.jump {
  animation-name: jump;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 1.2s;
  animation-iteration-count: 1;
}

@keyframes jump {
  0% {
    transform: scale(1, 1) translateY(0);
  }

  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }

  30% {
    transform: scale(0.9, 1.1) translateY(-5rem) rotate(10deg);
  }

  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }

  57% {
    transform: scale(1, 1) translateY(-0.5rem) rotate(-2deg);
  }

  64% {
    transform: scale(1, 1) translateY(0);
  }

  100% {
    transform: scale(1, 1) translateY(0);
  }
}

/* Laten zien wat er gebeurd */
#buttonOne:hover span,
#buttonTwo:hover span,
#buttonThree:hover span,
#buttonFour:hover span,
#buttonFive:hover span,
#buttonSix:hover span,
#buttonSeven:hover span,
#buttonEight:hover span,
#buttonNine:hover span,
#buttonTen:hover span {
  display: none;
}

/* Button 1 */
#buttonOne:hover:after {
  content: 'Double click';
}

/* Button 2 */
#buttonTwo:hover:after {
  content: 'Muis over / Mouse out';
}

/* Button 3 */
#buttonThree:hover:after {
  content: 'Click = Change size';
}

/* Button 4 */
#buttonFour:hover:after {
  content: 'Click = Poof';
}

/* Button 5 */
#buttonFive:hover:after {
  content: 'Click = Shake';
}

/* Button 6 */
#buttonSix:hover:after {
  content: 'Click = Flip';
}

/* Button 7 */
#buttonSeven:hover:after {
  content: 'Click = Flash';
}

/* Button 8 */
#buttonEight:hover:after {
  content: 'Click = Hyper';
}

/* Button 9 */
#buttonNine:hover:after {
  content: 'Click = Disco';
}

/* Button 10 */
#buttonTen:hover:after {
  content: 'Click then touch any key';
}

/* Jouw animaties */
/* Button 1 & 2 */
.changeColor {
  background: var(--highlight-primary);
  color: var(--secondary);
}

/* Button 3 */
.changeSize {
  padding: 1.4em 1.8em;
}

/* Button 4 */
.poof {
  animation-name: poof;
  animation-duration: 2000ms;
  animation-fill-mode: forwards;
}

@keyframes poof {
  0% {
    opacity: 1;
  }

  30% {
    opacity: 0.5;
  }

  100% {
    display: none;
    opacity: 0;
  }
}

/* Button 5 */
.shake {

  animation-name: shake;
  animation-duration: 2s;
  animation: shake 0.5s linear;
}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

/* Button 6 */
.flip {
  animation: flip 2s;
}

@keyframes flip {
  from {
    transform: rotateX(0deg);
  }

  to {
    transform: rotateX(180deg);
  }
}

/* Button 7 */
.flash {
  animation: flash 3s linear;
}

@keyframes flash {
  0% {
    transform: translateX(0);
  }

  33% {
    transform: translateX(100vw);
  }

  66% {
    transform: translateX(-100vw);
  }

  100% {
    transform: translateX(0);
  }
}

/* Button 8 */
.hyper {
  animation-name: hyper;
  animation-duration: 0.2s;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-iteration-count: 3;
}

@keyframes hyper {
  0% {
    transform: translateY(0);
  }

  33% {
    transform: translateY(-1em);
  }

  50% {
    transform: translateY(0.5em);
  }

  66% {
    transform: translateY(-2em);
  }

  80% {
    transform: translateY(0.5em);
  }

  100% {
    transform: translateY(0);
  }
}

/* Button 9 */
.disco {
  animation-name: disco;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 1s;
  animation-iteration-count: 2;
}

@keyframes disco {
  0% {
    background-color: var(--highlight-secondary);
  }

  50% {
    background-color: var(--highlight-primary);
  }

  100% {
    background-color: var(--primary);
  }
}